.Footer {
  width: 100%;
  padding: 15rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FFD865;
  
  @include respond(phone) {
    width: auto;  
    padding: 4.7rem 1.6rem;
  }

  span {
    font-size: 6rem;
    font-weight: 500;
    color: $color-oil;
    text-align: center;
    max-width: 780px;
    line-height: 1.2;
    margin-bottom: 6.4rem;

    @include respond(phone) { 
      font-size: 4.8rem;
      text-align: left;
      margin-bottom: 3.2rem;
    }
  }

  .InputButton {
    width: 100%;

    input, button {
      border: 0;
    }
  }
}