.TextSection {
  // width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 6rem 0;

  @include respond(phone) { 
    flex-direction: column;
  }

  @include mainContainer;

  .highlighted {
    color: #E96E1F;
    text-decoration: underline;
  }

  &.right {
    flex-direction: row-reverse;

    @include respond(phone) { 
      flex-direction: column;
    }
  }

  &__textContainer {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond(phone) {  
      margin-bottom: 3.2rem;
      max-width: inherit;
    }
  }

  &__title {
    font-size: 2.8rem;
    font-weight: 500;
    color: $color-oil;
    line-height: 1.2;
    margin-bottom: 16px;
  }

  &__text {
    font-size: 1.6rem;
    font-weight: 350;
    color: $color-oil;
  }

  &__img {
    max-width: 40rem;
    @include respond(phone) {  
      max-width: inherit;
      width: 100%;
    }
  }
}