*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /*Defines what 1rem is. 10px if default is 16px.*/
  
  font-size: 62.5%; //1 rem = 10px; 10/16 = 62.5%

  @include respond(tab-land) {
    font-size: 60%; //1 rem = 9px; 9/16 = 56.2%
  }

  @include respond(tab-port) {
    font-size: 60%; //1 rem = 8px; 8/16 = 50%
  }

  @include respond(phone) {
    font-size: 58%; //1 rem = 8px; 8/16 = 50%
  }

  @include respond(small-phone) {
    font-size: 52%; //1 rem = 8px; 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1 rem = 10px; 12/16 = 75%
  }

  max-width: 100%;
  width:100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;

  // Remove ios standard :active pseudo class
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
}

a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: currentColor;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}

a.anchor {
  display: block;
  position: relative;
  top: -11rem;
}
