@font-face {
  font-family: 'Inter';
  src: '../../Inter-V.otf';
}

body {
    font-family: 'Inter', 'Lato', sans-serif;
    font-weight: 400;
    font-size: $default-font-size;
    line-height: 1.7;
    color: $color-oil;
  }
  
  .heading-1 {
    font-weight: 900;
    font-size: 5.5rem;
    line-height: 1.2;
  }
  
  .heading-2 {
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 1.2;
  }
  
  .heading-3 {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.2;
  }
  
  .heading-4 {
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.2;
  }
  
  .heading-5 {
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 1.2;
  }
  
  .paragraph {
    font-size: $default-font-size;
  }
  
  .small {
    font-size: 1.6rem;
  }
  
  .large {
    font-size: 2.2rem;
  }
  
  .bold {
    font-weight: 900;
  }
  
  .highlighted-primary {
    color: $color-primary;
  }
  