.introduction {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // width: 100%;
  height: 100%;
  padding: 10rem 9.8rem;
  padding-top: 7rem;

  @include respond(phone) {
    padding: 1.6rem;
  }

  &__title {
    font-size: 5.5rem;
    line-height: 1.25;
    font-variation-settings: 'wght' 375;
    margin-bottom: 24px;
    font-weight: 500;
    max-width: 900px;

    .Highlighted {
      color: #E96E1F;
      text-decoration: underline;
      // font-weight: 600;
    }

    @include respond(phone) {
      font-size: 4rem;
      text-align: left;
      margin-bottom: 16px;
    }
  }

  &__subtitle {
    font-size: 2rem;  
    line-height: 1.2;
    margin-bottom: 32px;
    max-width: 900px;

    @include respond(phone) {
      font-size: 1.6rem;
      text-align: left;
    }
  }

}