// COLORS

$color-primary: #607bff;
$color-primary-light: #6099ff;
$color-primary-dark: #5f64f9;

$color-white: #ffffff;
$color-oil: #333;
$color-jungle: #32757B;

//FONT
$default-font-size: 1.8rem;

//SIZES
$content-max-width: 100rem;
